@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body{
  padding-top:70px;
  font-family: 'Roboto', sans-serif;

}
footer{
  position: fixed;
  bottom: 2px;
  width: 100%;
  border: 1px solid black;
}
#c{
  margin-left: 100px;
  margin-top: 5px;
  //background-color:violet;
  border: 2px black solid;
}
#c2{
  display: none;
}
